/** @format */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@200;400&display=swap');

:root {
	--ui-color-light: rgba(255, 255, 255, 1);
	--ui-color-light-shade: rgba(200, 200, 200, 1);
	--ui-color-dark: rgba(24, 24, 30, 1);
	--ui-color-dark-shade: rgba(14, 14, 20, 1);
	--ui-color-accent-blue: rgba(57, 160, 237, 1);
	--ui-color-accent-teal: rgba(19, 196, 163, 1);
	--ui-color-accent-contrast: rgba(255, 90, 95, 1);

	--z-index-nav: 100;
	--z-index-backdrop: -10;
	--z-index-modal: 80;
	--z-index-spinner: 90;
}

body {
	background: var(--ui-color-dark);
	color: var(--ui-color-light);

	overflow-x: hidden;
	overflow-y: overlay;
}

/* section @privacy modal */

.privacy-modal {
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100vw;

	padding: 1.2em 1.8em;

	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.6em;

	background: var(--ui-color-light);
	color: var(--ui-color-dark);

	z-index: var(--z-index-nav);
	box-sizing: border-box;

	transform: translateY(100%);
	transition: 0.25s ease-out;
}

.privacy-modal[visible] {
	transform: unset;
}
.privacy-modal a {
	color: var(--ui-color-accent-blue);
	text-decoration: underline;
}

.privacy-modal__close {
	padding: 0.6em 1em;
	margin: 0.4em;

	background: transparent;
	border: 1px solid var(--ui-color-dark);
	outline: none;

	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	color: var(--ui-color-dark);
	font-size: 1.2em;

	align-self: center;
	cursor: pointer;

	transition: 0.25s ease;
}

.privacy-modal__close:hover {
	background: var(--ui-color-accent-blue);
	color: var(--ui-color-light);
	border-color: var(--ui-color-accent-blue);
}

/* section @nav */

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: row;

	font-size: 1.4em;

	height: 62px;
	padding: 0 1.6em;

	background: var(--ui-color-dark);

	border-bottom: 1px solid var(--ui-color-dark-shade);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

	z-index: var(--z-index-nav);
}

nav ul {
	margin: 0;
	padding: 0.4em 0;

	width: 100vw;
	max-width: 1366px;
	margin: auto;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	list-style-type: none;
}

.nav-link {
	padding: 0 1.2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-link a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	white-space: nowrap;

	font-size: 1.4em;
	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	color: var(--ui-color-light);

	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.nav-home {
	margin-right: auto;
}

.nav-link a:hover {
	color: var(--ui-color-accent-contrast);
}

#nav-mobile-button {
	display: none;

	background: none;
	color: var(--ui-color-light);
	border: none;

	justify-content: center;
	align-items: center;

	padding: 0.2em;
	margin: 0.2em;

	cursor: pointer;
}

#nav-mobile-button svg {
	transform: scale(1.4);
}

/* section @main */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* section @data-display */

#data-display {
	position: relative;

	min-height: 100vh;
	margin: 0 auto 0 auto;
	padding-top: 10em;

	width: 90vw;
	max-width: 1366px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#data-widgets {
	display: grid;
	grid-template-columns: repeat(3, 38em);
	grid-auto-rows: 38em;
}

#data-sources {
	padding: 4.5em 0;
	margin: 0 0 -2em 0;
	font-size: 1.2em;
	text-align: center;
}

#data-sources p {
	margin: 0;
	padding: 0.2em 0;
	color: var(--ui-color-light-shade);
}

#data-sources a {
	color: var(--ui-color-light);
	text-decoration: underline;
}

#data-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	z-index: var(--z-index-backdrop);
}

.data-display-timestamp {
	font-size: 1.2em;
	padding: 0.5em;
	margin: 4em 0 -4em;
	color: var(--ui-color-light-shade);
}

.data-display-timestamp a {
	color: var(--ui-color-light);
	text-decoration: underline;
}

/* section @footer */

footer {
	background: var(--ui-color-dark-shade);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.2em;
	font-weight: 200;
	letter-spacing: 0.1em;
	color: var(--ui-color-light-shade);
	text-align: center;

	padding: 2.4em 5vw;
	margin-top: 2.4em;
}

footer > * {
	max-width: 768px;
}

footer a {
	color: var(--ui-color-light);
	text-decoration: underline;
}

footer a:hover {
	color: var(--ui-color-accent-contrast);
}

/* section @privacy */

main.impressum {
	background: var(--ui-color-dark-shade);

	width: 90vw;
	max-width: 768px;

	padding: 2.4em 3.6em;
	margin: 4.2em auto;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.2em;
}

main.impressum a {
	color: var(--ui-color-light-shade);
	text-decoration: underline;
	padding: 1.2em 0;
}
main.impressum a:hover {
	color: var(--ui-color-light);
}

/* section @loader */

.loader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background: var(--ui-color-dark);

	font-size: 10px;
	z-index: var(--z-index-spinner);
	transition: 1s ease-out;
}

.loader span {
	display: block;

	position: absolute;

	width: 10em;
	height: 10em;

	margin: 0;
	padding: 0;

	border: unset;
	border-top: 0.5em solid var(--ui-color-accent-teal);

	border-radius: 50%;

	animation: loaderSpin 2s 0s ease-in-out infinite;

	box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);
	box-sizing: content-box;
}

.loader span:nth-child(2) {
	animation-duration: 2s;
	animation-delay: 0.25s;
	border: unset;
	border-left: 0.5em solid var(--ui-color-accent-blue);
}

.loader span:nth-child(3) {
	animation-duration: 2s;
	animation-delay: 0.5s;
	border: unset;
	border-bottom: 0.5em solid var(--ui-color-accent-contrast);
}

.loader span:nth-child(4) {
	animation-duration: 2s;
	animation-delay: 0.75s;
	border: unset;
	border-right: 0.5em solid var(--ui-color-accent-blue);
}

@keyframes loaderSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* section @error */

.message-error {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 0.4em auto;
	padding: 0.4em 1.5em;

	font-size: 1.5em;

	border: 1px solid var(--ui-color-accent-contrast);
}

.message-close {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0 0 0 1em;
	padding: 0;

	background: none;
	border: none;
	color: var(--ui-color-accent-contrast);

	cursor: pointer;
}

.message-close:hover {
	color: var(--ui-color-light);
}

@media (max-width: 1366px) {
	#data-widgets {
		grid-template-columns: repeat(2, 38em);
	}
}

@media (max-width: 768px) {
	.privacy-modal {
		flex-direction: column;
	}

	.privacy-modal__close {
		width: 100%;
	}

	#nav-mobile-button {
		display: flex;
		z-index: 1000;
	}

	nav {
		justify-content: flex-end;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background: var(--ui-color-dark);
		transition: 0.4s ease-out;
	}

	nav ul[state='false'] {
		transform: translateY(-100%);
	}

	nav ul[state='true'] {
		transform: translateY(-0%);
	}

	li.nav-link {
		margin: 1.4em 0;
	}

	#data-widgets {
		grid-template-columns: repeat(1, 98vw);
		justify-items: center;
	}
}
